nav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  height: 60px; 
  border-bottom: 1px solid;  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--third_light);
}

div.pages, div.socials {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}


div.content {
  height: 1200px;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
}

div.content > div {
  padding: 15px; 
}

img.svg {
  filter: invert(1);
}

img.svg:hover, img.svg:focus {
  filter: invert(0.5); 
}

div.content>div {
  border-bottom: var(--secondary) solid 2px; 
}

div.content>div:last-child {
  border-bottom: none;
}

@media (prefers-color-scheme: light) {
  nav {
    border-color: black;
    background-color: var(--third);
  }

  img.svg {
    filter: invert(0);
  }

  div.content>div {
    border-bottom: var(--secondary_light) solid 2px;
  }
}

@media only screen and (max-device-width: 480px) { 
  nav>div {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  div.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: min(4vw, 4vh);
  }


  div.nav-content {
    display: flex;
    gap: 5px;
  }
  
  div.nav-group-enter {
    position: absolute;
    z-index: 10;
    transform: translateX(120%);
  }

  div.nav-group-enter-active {
    position: absolute;
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
  }

  div.nav-group-exit {
    position: absolute;
    z-index: 10;
    transform: translateX(0);
  }

  div.nav-group-exit-active {
    position: absolute;
    transform: translateX(-120%);
    transition: transform 500ms ease-in-out;
  }

  div.socials-group-enter {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    transform: translateX(-120%);
  }

  div.socials-group-enter-active {
    position: absolute;
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
  }

  div.socials-group-exit {
    position: absolute;
    z-index: 10;
    transform: translateX(0);
  }

  div.socials-group-exit-active {
    position: absolute;
    transform: translateX(120%);
    transition: transform 500ms ease-in-out;
  }
}